@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  @apply fixed inset-0 bg-cover bg-center;
}

.background-image {
  @apply fixed inset-0 bg-cover bg-center;
}

.background-blur::before {
  content: '';
  @apply absolute inset-0 bg-inherit;
  filter: blur(10px);
  z-index: 0;
}

.content {
  @apply relative z-10 flex items-center justify-center text-white;
}
